<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/style.css">
 </head>
<body>

  <div class="site-wrapper">

    <!-- Sidebar navigation -->
    <nav class="sidebar">
         <ul>
    <li><a href="/dmr.html">Hotspot Status</a></li>
    <li><a href="/radio.html">AnyTone 878</a></li>
    <li><a href="/assembly.html">Hotspot Assembly</a></li>
    <li><a href="/links.html">Links</a></li>
    <li><a href="/astronomy.html">Astronomy Notes</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/notes.html">Ham Notes</a></li>
    </nav>

    <!-- Main content -->
    <main class="container">
      {{ content }}
    </main>

  </div>

  <!-- Footer -->
  <footer>
    <hr>
    <p>
      <a href="/">← Home</a> • KC1YQN • FN42 • contact @ 
      <a href="https://www.qrz.com/db/KC1YQN">QRZ.com</a>
    </p>
  </footer>

</body>
</html>
